{% extends 'base.html' %}
{% block content %}



<div class="card">
  <div class="card-header"><strong>
    	{{ student_record.first_name }} 
		{{ student_record.last_name }}</strong>
  </div>
  <div class="card-body">



<p class="card-text">
<strong>First Name: </strong>{{ student_record.first_name }}</p>

<p class="card-text">
<strong>Last Name: </strong>{{ student_record.last_name}}
</p>

<p class="card-text">
<strong>Email: </strong>{{ student_record.email }}</p>


<p class="card-text">
<strong>Field Of Study: </strong>{{ student_record.field_of_study }}</p>

<p class="card-text">
<strong>GPA: </strong>{{ student_record.gpa }}</p>
    
    
  </div>
</div>

<br/><br/>
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<a href="{% url 'delete_record' student_record.id %}" class="btn btn-danger">Delete</a>

<a href="{% url 'update_record' student_record.id %}" class="btn btn-secondary">Update Record</a>
		

{% endblock %}